@import "tailwindcss";

/* WAJIB DITAMBAHKAN DI TAILWIND V4 UNTUK DARK MODE BERBASIS CLASS */
@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  /* Ubah bg-slate-50 menjadi bg-white murni sesuai permintaan */
  @apply bg-white text-slate-900 dark:bg-slate-950 dark:text-slate-100 transition-colors duration-500 ease-in-out;
}

/* Scrollbar styling modern */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-slate-300 dark:bg-slate-700 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-400 dark:bg-slate-600;
}